/* Table tree */
.treeTable tr td .expander {
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
    zoom: 1; /* IE7 Hack */
}

.treeTable tr.collapsed td .expander {
    background-image: url("../images/toggle-expand-dark.png");
}

.treeTable tr.expanded td .expander {
    background-image: url("../images/toggle-collapse-dark.png");
}