{% set items = [] %}

{% for child in form %}

    {% set option = child.vars.label %}
    <tr id="node-{{ option.id }}" {% if option.parent is not null %}class="child-of-node-{{ option.parent.id }}"{% endif %}><td>
        {{ form_widget(child) }}
        {{ form_label(child, option.title, { 'attr' : { 'asterisk' : false } }) }}
    </td></tr>
    {% if option.hasChildren %}
        {% include 'StofDoctrineExtensionsBundle:Form:gedmo_tree_items.html.twig' with {'child': child} %}
    {% endif %}

<?php if ($item->isDir()) : ?>
<tr id="node-<?php echo $item->getId(); ?>"<?php echo (!$item->getParent()->isRoot()) ? 'class="child-of-node-' . $item->getParent()->getId() . '"' : ''; ?>>
<td><span class="<?php if ($item->isDir()) : ?>folder<?php else : ?>file<?php endif; ?>"><?php echo $this->escape($item->getTitle()); ?></span></td>
<td><?php echo $item->isDir() ? '' : $this->displayBytes($item->getSize()); ?></td>
<td><?php echo $item->getUpdated()->format(DEFAULT_DATE_FORMAT); ?></td>
</tr>
<?php
$this->root = $item;
echo $this->render('file/ajax-file-list.phtml');
?>
<?php else : $files[] = $item; ?>
<?php endif; ?>

{% endfor %}
{% for child in items %}

<tr id="node-<?php echo $item->getId(); ?>"<?php echo (!$item->getParent()->isRoot()) ? 'class="child-of-node-' . $item->getParent()->getId() . '"' : ''; ?>>
<td><span class="<?php if ($item->isDir()) : ?>folder<?php else : ?>file<?php endif; ?>"><?php echo $this->escape($item->getTitle()); ?></span></td>
<td><?php echo $item->isDir() ? '' : $this->displayBytes($item->getSize()); ?></td>
<td><?php echo $item->getUpdated()->format(DEFAULT_DATE_FORMAT); ?></td>
</tr>

{% endfor %}